
<div style="background-image: url('assets/img/federico-beccari.jpg')">
	<nav class="navbar navbar-expand-lg fixed-top navbar-transparent" color-on-scroll="450">
		
		<center>
		<div class="container">
			<div class="navbar-translate" align="center">
			
				<button type="button" class="btn btn-danger btn-round" ng-click="CategoryOld()">old </button>
				<button type="button" class="btn btn-danger btn-round" ng-click="CategoryNew1()">new </button>
				<button type="button" class="btn btn-danger btn-round" ng-click="CategoryDevotional()">devotional </button>
				<button type="button" class="btn btn-danger btn-round" ng-click="CategoryClassical()">classical </button>
				
				</div>
				
		</div>
		</center>
		<a ui-sref="root.home"  class="nav-link" >Home</a>
	</nav> 
	
         
	 <!-- <div>
		<div class="documentation page-header" style="background-image: url('../assets/img/daniel-olahs.jpg')">
			
			
		</div>
	</div> -->
</div>
<div ui-view></div>


	 
	

 
