
<div>
    <nav class="navbar navbar-expand-md fixed-top navbar-transparent" color-on-scroll="500">
        <div class="container">
            <div class="navbar-translate">
                <button class="navbar-toggler navbar-toggler-right navbar-burger" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-bar"></span>
                    <span class="navbar-toggler-bar"></span>
                    <span class="navbar-toggler-bar"></span>
                </button>
                <!-- <a class="navbar-brand" href="view\register.html">my account</a> -->
            </div>
			
            <div class="collapse navbar-collapse" id="navbarToggler">
                <ul class="navbar-nav ml-auto">
                     
                    
                    <li class="nav-item">
                        <a ui-sref="root.categories"  class="nav-link"> categories</a>
                    </li> 
					<li class="nav-item">
                        <a ui-sref="root.register"  class="nav-link"> upload songs</a>
                    </li> 
					
                    
                </ul>
				<form>
					<input type="text" id="search"name="search" placeholder="Search..">
				</form> 
            </div>
			
        </div>
		
    </nav>
	<div ui-view></div>
    <div class="wrapper">
        <div class="page-header section-dark" style="background-image: url('assets/img/antoine-barres.jpg')">
            <div class="filter"></div>
    		<div class="content-center">
			
    			<div class="container">
				
    				<div class="title-brand">
					
    					<h1 class="presentation-title">Experience the gaana</h1>
    					<div class="fog-low">
    						<img src="assets/img/fog-low.png" alt="">
    					</div>
    					<div class="fog-low right">
    						<img src="assets/img/fog-low.png" alt="">
    					</div>
    				</div>

    				<h2 class="presentation-subtitle text-center">the collection of songs you wish </h2>
    			</div>
				
    		</div>
            
    	</div>
      
                    <div class="row justify-content-md-center sharing-area text-center">
                        <div class="text-center col-md-12 col-lg-8">
                            <h3>Thank you for supporting us!</h3>
                        </div>
                        <div class="text-center col-md-12 col-lg-8">
                            <a href="#pablo" class="btn btn-twitter-bg twitter-sharrre btn-round" rel="tooltip" title="Tweet!">
                                <i class="fa fa-twitter"></i> Twitter
                            </a>
                            <a href="#pablo" class="btn btn-google-bg linkedin-sharrre btn-round" rel="tooltip" title="Share!">
                                <i class="fa fa-google-plus"></i> Google
                            </a>
                            <a href="#pablo" class="btn btn-facebook-bg facebook-sharrre btn-round" rel="tooltip" title="Share!">
                                <i class="fa fa-facebook-square"></i> Facebook
                            </a>
                            
                        </div>
                    </div>
	</div>
		
    <footer class="footer">
        <div class="container">
            <div class="row">
               
                <div class="credits ml-auto">
                    <span class="copyright">
                        © <script>document.write(new Date().getFullYear())</script>, created by <i class="fa fa-heart"></i> team ofs
                    </span>
                </div>
            </div>
        </div>
    </footer>
	</div>
	