

    
    <div class="container" id="songlist">

      
    
        
     

      <div class="row">
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-60">
            <a href="#"><img class="card-img-top" src="assets/img/gaana.jpg" alt=""></a><!-- style="background-image: url('assets/img/antoine-barres.jpg')" -->
            <div class="card-body"> 
		   
              <h4 class="card-title">
                <a href="#">Play online</a>
              </h4>
              
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-60">
            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Play online</a>
              </h4>
              
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-60">
            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Play online</a>
              </h4>

            </div>
          </div>
        </div>
		<div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-60">
            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
            <div class="card-body"> 
		   
              <h4 class="card-title">
                <a href="#">Play online</a>
              </h4>
              
            </div>
          </div>
        </div>
		<div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-60">
            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
            <div class="card-body"> 
		   
              <h4 class="card-title">
                <a href="#">Play online</a>
              </h4>
              
            </div>
          </div>
        </div>
		<div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-60">
            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
            <div class="card-body"> 
		   
              <h4 class="card-title">
                <a href="#">Play online</a>
              </h4>
              
            </div>
          </div>
        </div>
        
    </div>
</div>
    
 
